################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UserManagement.Services/bin/Debug
/UserManagement.Services/obj/Debug
/UserManagement/.vs/UserManagement
/UserManagement/bin/Debug
/UserManagement/obj/Debug
/UserManagement/.vs/UserManagement/FileContentIndex
/UserManagement.Models/obj/Debug
/UserManagement.Models/bin/Debug
/UserManagement.Services/obj/Debug/net6.0/UserManagement.Services.dll
/UserManagement/bin/Debug/net6.0/UserManagement.Services.pdb
/UserManagement/bin/Debug/net6.0/UserManagement.Services.dll
/UserManagement/bin/Debug/net6.0/UserManagement.pdb
/UserManagement/bin/Debug/net6.0/UserManagement.Models.pdb
/UserManagement/bin/Debug/net6.0/UserManagement.Models.dll
/UserManagement/obj/Debug/net6.0/ref/UserManagement.dll
/UserManagement.Models/obj/Debug/net6.0/ref/UserManagement.Models.dll
/UserManagement.Models/bin/Debug/net6.0/UserManagement.Models.pdb
/UserManagement/obj/Debug/net6.0/UserManagement.pdb
/UserManagement/obj/Debug/net6.0/UserManagement.dll
/UserManagement/obj/Debug/net6.0/UserManagement.csproj.CoreCompileInputs.cache
/UserManagement/obj/Debug/net6.0/refint/UserManagement.dll
/UserManagement.Models/obj/Debug/net6.0/UserManagement.Models.pdb
/UserManagement.Models/obj/Debug/net6.0/UserManagement.Models.dll
/UserManagement.Models/obj/Debug/net6.0/refint/UserManagement.Models.dll
/UserManagement.Services/obj/Debug/net6.0/UserManagement.Services.pdb
/UserManagement.Services/obj/Debug/net6.0/refint/UserManagement.Services.dll
/UserManagement.Services/bin/Debug/net6.0/UserManagement.Services.pdb
/UserManagement.Services/bin/Debug/net6.0/UserManagement.Services.dll
/UserManagement.Services/bin/Debug/net6.0/UserManagement.Models.pdb
/UserManagement.Services/bin/Debug/net6.0/UserManagement.Models.dll
