################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UserManagement/.vs/UserManagement/FileContentIndex
/UserManagement/.vs/UserManagement
/UserManagement/bin/Debug
/UserManagement/obj/Debug
/UserManagement.Services/bin/Debug
/UserManagement.Services/obj/Debug
/UserManagement.Models/obj/Debug
/UserManagement.Models/bin/Debug
/UserManagement.Auth/bin/Debug
/UserManagement.Auth/obj/Debug
/UserManagement/bin/Debug/net6.0/UserManagement.deps.json
/UserManagement/bin/Debug/net6.0/UserManagement.Services.deps.json
/UserManagement/bin/Debug/net6.0/UserManagement.staticwebassets.runtime.json
/UserManagement/obj/Debug/net6.0/UserManagement.csproj.FileListAbsolute.txt
/UserManagement/obj/Debug/net6.0/UserManagement.assets.cache
/UserManagement/obj/Debug/net6.0/staticwebassets.development.json
/UserManagement/obj/Debug/net6.0/staticwebassets.build.json
/UserManagement/obj/Debug/net6.0/UserManagement.MvcApplicationPartsAssemblyInfo.cs
/UserManagement/obj/UserManagement.csproj.nuget.dgspec.json
/UserManagement/obj/project.nuget.cache
/UserManagement/obj/project.assets.json
/UserManagement.Auth/obj
/UserManagement.Auth/Properties
/UserManagement.Auth/wwwroot
*.json
/UserManagement.Services/obj/Debug/net6.0/UserManagement.Services.assets.cache
/UserManagement.Services/obj/project.assets.json
/UserManagement.Services/obj/project.nuget.cache
/UserManagement.Services/obj/UserManagement.Services.csproj.nuget.dgspec.json
/UserManagement.Services/bin/Debug/net6.0/UserManagement.Services.deps.json
/UserManagement/.vs/ProjectEvaluation/usermanagement.metadata.v6.1
/UserManagement/.vs/ProjectEvaluation/usermanagement.projects.v6.1
/UserManagement/.vs/UserManagement/DesignTimeBuild/.dtbcache.v2
