.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .button-row {
    display: flex;
    justify-content: center;
  }
  
  .custom-button {
    width: 10cm;
    height: 4cm;
    margin: 10px;
  }
  